In [1]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Raw_Data\titanic.csv")

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# SML Classsification modeli Target ustuni == Survived

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df["Age"].fillna(df["Age"].mean(), inplace=True)

C:\maya_temp\ipykernel_18240\1809399462.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df["Cabin"].fillna(df["Cabin"].mode()[0], inplace=True)

In [8]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [9]:
df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

C:\maya_temp\ipykernel_18240\122844256.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

In [12]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# Data Preprocessing

# Data Encoding -- bu kategorik (matnli) malumotlarni raqamli formtaga o`tkazish jarayoni.

# Encoding Turlari 
# 1- One Hot Encoding 
# 2- Label Encoding 
# 3- Frequencey Encoding 
# 4-Target Encoding 
# 5-Ordinal Encoding

One Hot Encoding

In [16]:
for col in df.columns:
    if df[col].dtype=="object":
        dummies = pd.get_dummies(df[col], prefix="col", dtype=int)
        df = pd.concat([df.drop(columns=[col]), dummies], axis=1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Columns: 1731 entries, PassengerId to col_S
dtypes: float64(2), int64(1729)
memory usage: 11.8 MB

Label Encoding

In [4]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Raw_Data\titanic.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [2]:
!pip install scikit_learn

Collecting scikit_learn
  Using cached scikit_learn-1.8.0-cp313-cp313-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.24.1 in c:\users\rasulbek907\desktop\project_one\myvenv\lib\site-packages (from scikit_learn) (2.4.1)
Collecting scipy>=1.10.0 (from scikit_learn)
  Using cached scipy-1.17.0-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.3.0 (from scikit_learn)
  Using cached joblib-1.5.3-py3-none-any.whl.metadata (5.5 kB)
Collecting threadpoolctl>=3.2.0 (from scikit_learn)
  Using cached threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.8.0-cp313-cp313-win_amd64.whl (8.0 MB)
Using cached joblib-1.5.3-py3-none-any.whl (309 kB)
Using cached scipy-1.17.0-cp313-cp313-win_amd64.whl (36.3 MB)
Using cached threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit_learn

   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ------------------------------ --------- 3/4 [scikit_learn]
   ---------------------------------------- 4/4 [scikit_learn]

Successfully installed joblib-1.5.3 scikit_learn-1.8.0 scipy-1.17.0 threadpoolctl-3.6.0

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

for col in df.columns:
    if df[col].dtype=="object":
        df[col]=encoder.fit_transform(df[col])

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

for col in df.columns:
    if df[col].dtype == "object":
        if df[col].nunique()<=6:
            dummies = pd.get_dummies(df[col], prefix="one_hot", dtype=int)
            df = pd.concat([df.drop(columns=[col]), dummies], axis=1)
        else:
            df[col] = encoder.fit_transform(df[col])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     891 non-null    int64
 1   Survived        891 non-null    int64
 2   Pclass          891 non-null    int64
 3   Name            891 non-null    int64
 4   Age             714 non-null    float64
 5   SibSp           891 non-null    int64
 6   Parch           891 non-null    int64
 7   Ticket          891 non-null    int64
 8   Fare            891 non-null    float64
 9   Cabin           891 non-null    int64
 10  one_hot_female  891 non-null    int64
 11  one_hot_male    891 non-null    int64
 12  one_hot_C       891 non-null    int64
 13  one_hot_Q       891 non-null    int64
 14  one_hot_S       891 non-null    int64
dtypes: float64(2), int64(13)
memory usage: 104.5 KB

In [8]:
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,one_hot_female,one_hot_male,one_hot_C,one_hot_Q,one_hot_S
0,1,0,3,108,22.0,1,0,523,7.2500,147,0,1,0,0,1
1,2,1,1,190,38.0,1,0,596,71.2833,81,1,0,1,0,0
2,3,1,3,353,26.0,0,0,669,7.9250,147,1,0,0,0,1
3,4,1,1,272,35.0,1,0,49,53.1000,55,1,0,0,0,1
4,5,0,3,15,35.0,0,0,472,8.0500,147,0,1,0,0,1

In [9]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder


def encoder_cat(df, one_hot_threshold=6):
    encoder = LabelEncoder()


    for col in df.columns:
        if df[col].dtype=="object":
            if df[col].nunique() <= one_hot_threshold:
                dummies = pd.get_dummies(df[col], prefix="col", dtype=int)
                df = pd.concat([df.drop(columns=[col]), dummies], axis=1)

            else:
                df[col] = encoder.fit_transform(df[col])
    return df

In [10]:
df = encoder_cat(df)

Frequency Encoding

In [11]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Raw_Data\titanic.csv")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
freq = df["Name"].value_counts()
df["Name" + '_freq'] = df["Name"].map(freq)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  Name_freq    891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [15]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_freq
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

In [16]:
df.drop("Name", axis=1, inplace=True)

In [17]:
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_freq
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,1

In [18]:
df["Name_freq"]

0      1
1      1
2      1
3      1
4      1
      ..
886    1
887    1
888    1
889    1
890    1
Name: Name_freq, Length: 891, dtype: int64

Target Encoding

In [21]:
mean_target = df.groupby("Embarked")["Survived"].mean()
df["Embarked" + "_target"] = df["Embarked"].map(mean_target)

In [22]:
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_freq,Cabin_target,Embarked_target
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,NaN,0.336957
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,1,1.0,0.553571
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,NaN,0.336957
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,1,0.5,0.336957
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,1,NaN,0.336957

In [24]:
df["Embarked_target"]

0      0.336957
1      0.553571
2      0.336957
3      0.336957
4      0.336957
         ...
886    0.336957
887    0.336957
888    0.336957
889    0.553571
890    0.389610
Name: Embarked_target, Length: 891, dtype: float64

Ordinal Encoding

In [39]:
import pandas as pd 
from sklearn.preprocessing import OrdinalEncoder

df = pd.DataFrame({
    "Size": ["XS", "S", "M", "L", "S", "M", "XS", "L"]
})

encoder = OrdinalEncoder(
    categories=[["XS", "S", "M", "L"]]
)

df["Size"] = encoder.fit_transform(df[["Size"]])

df

   Size
0   0.0
1   1.0
2   2.0
3   3.0
4   1.0
5   2.0
6   0.0
7   3.0

In [37]:
df["Size"] = df["Size"].map({
    "XS": 1,
    "S":  2,
    "M":  3,
    "L":  4
})

In [35]:
df.columns

Index(['Size'], dtype='object')