# MISSING VALUES - DATASETDAGI TUSHIRIB QOLDIRILGAN QIYMATLAR

In [62]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Raw_Data\global_ai_ml_data_salaries.csv")

In [63]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,SE,FT,Data Architect,170955.0,USD,170955.0,US,0.0,US,M
1,2024,SE,FT,Data Architect,130270.0,USD,130270.0,US,0.0,US,M
2,2024,MI,FT,Insight Analyst,92144.0,USD,92144.0,US,100.0,US,M
3,2024,MI,FT,Insight Analyst,57616.0,USD,57616.0,US,100.0,US,M
4,2024,SE,FT,Lead Engineer,201600.0,USD,201600.0,US,100.0,US,M

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36668 entries, 0 to 36667
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           36668 non-null  int64
 1   experience_level    36663 non-null  object
 2   employment_type     36661 non-null  object
 3   job_title           36654 non-null  object
 4   salary              36654 non-null  float64
 5   salary_currency     36654 non-null  object
 6   salary_in_usd       36654 non-null  float64
 7   employee_residence  36654 non-null  object
 8   remote_ratio        36654 non-null  float64
 9   company_location    36654 non-null  object
 10  company_size        36654 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.1+ MB

In [64]:
missing_values = df.isnull().sum()
for col, count in missing_values.items():
    print(f"{col:<10} {count}")

work_year  0
experience_level 5
employment_type 7
job_title  14
salary     14
salary_currency 14
salary_in_usd 14
employee_residence 14
remote_ratio 14
company_location 14
company_size 14

In [56]:
for col in df.columns:
    if df[col].dtype in ["float64", "int64"]:
        df[col] = df[col].fillna(df[col].mean())
    else:
        df[col] = df[col].fillna(df[col].mode()[0])

In [65]:
def fill_missing(df):
    for col in df.columns:
        if df[col].dtype in ["float64", "int64"]:
            df[col] = df[col].fillna(df[col].mean())
        else:
            df[col] = df[col].fillna(df[col].mode()[0])
    return df 

df = fill_missing(df)

In [66]:
missing_values = df.isnull().sum()
for col, count in missing_values.items():
    print(f"{col:<10} {count}")

work_year  0
experience_level 0
employment_type 0
job_title  0
salary     0
salary_currency 0
salary_in_usd 0
employee_residence 0
remote_ratio 0
company_location 0
company_size 0

# Tushirib qoldirilgan qiymatlarni tol`idirishning usullari

In [ ]:
# Mean -- o`rta arifmetik qiymat bilan toldiradi -- faqatgina raqamli ustunlar uchun 
# Mode - eng ko`p takrorlangan elemnt bilan tol`idirish -- bunda raqam yoki str bo`lishi  mumkin 
# Median -- eng o`rta elemnt bilan toldirish -- faqat raqamli ustunlar uchun

In [ ]:
# Fixed -- o`zimiz hohlagan qiymat bilan toldirish

In [36]:
# tashlab yuborish  - qayerda NaN  yoki None  bo`ladigan  bo`lsa tashlab yuborish

In [37]:
df["salary"] = df["salary"].fillna(df["salary"].mean())

In [38]:
missing_values = df.isnull().sum()
for col, count in missing_values.items():
    print(f"{col:<10} {count}")

work_year  0
experience_level 5
employment_type 7
job_title  14
salary     0
salary_currency 14
salary_in_usd 14
employee_residence 14
remote_ratio 14
company_location 14
company_size 14

In [39]:

df["employee_residence"] = df["employee_residence"].fillna(df["employee_residence"].mode()[0])

In [40]:
missing_values = df.isnull().sum()
for col, count in missing_values.items():
    print(f"{col:<10} {count}")

work_year  0
experience_level 5
employment_type 7
job_title  14
salary     0
salary_currency 14
salary_in_usd 14
employee_residence 0
remote_ratio 14
company_location 14
company_size 14

In [41]:

df["salary_in_usd"] = df["salary_in_usd"].fillna(df["salary_in_usd"].median())

In [42]:
missing_values = df.isnull().sum()
for col, count in missing_values.items():
    print(f"{col:<10} {count}")

work_year  0
experience_level 5
employment_type 7
job_title  14
salary     0
salary_currency 14
salary_in_usd 0
employee_residence 0
remote_ratio 14
company_location 14
company_size 14

In [46]:
df["job_title"] = df["job_title"].fillna(55)

In [44]:
missing_values = df.isnull().sum()
for col, count in missing_values.items():
    print(f"{col:<10} {count}")

work_year  0
experience_level 5
employment_type 7
job_title  0
salary     0
salary_currency 14
salary_in_usd 0
employee_residence 0
remote_ratio 14
company_location 14
company_size 14

In [47]:
df["company_size"] = df["company_size"].fillna("Middle")

In [48]:
missing_values = df.isnull().sum()
for col, count in missing_values.items():
    print(f"{col:<10} {count}")

work_year  0
experience_level 5
employment_type 7
job_title  0
salary     0
salary_currency 14
salary_in_usd 0
employee_residence 0
remote_ratio 14
company_location 14
company_size 0

# Df dagi nan qiymatlarni  tahslab yuborish

In [49]:
df.dropna(inplace=True)

In [50]:
missing_values = df.isnull().sum()
for col, count in missing_values.items():
    print(f"{col:<10} {count}")

work_year  0
experience_level 0
employment_type 0
job_title  0
salary     0
salary_currency 0
salary_in_usd 0
employee_residence 0
remote_ratio 0
company_location 0
company_size 0

In [51]:
df.dropna(subset=["work_year", "salary", "remote_ratio"], inplace=True)

In [67]:
# datasetdagi unknown elemtlarni tozalash -- $@&*^

In [ ]:
df["job_title"] = (
    df["job_title"]
    .astype(str)
    .str.replace(r'[^\d.-]', '', regex=True)
)

In [69]:
df["job_title"] = pd.to_numeric(df["job_title"], errors='coerce')

In [70]:
df["job_title"] = df["job_title"].fillna(1).astype(int)

In [ ]:
df['survived'] = (
    df['survived']
    .astype(str)
    .str.replace(r'[^\d]', '', regex=True)
    .pipe(pd.to_numeric, errors='coerce')
)

# takrorlangan qiymatlarni tashlab yuborish

In [72]:
df = df.drop_duplicates()

In [73]:
df = df.drop_duplicates(subset=["job_title"])

In [74]:
df = df.drop_duplicates(subset=["job_title", "salary", "work_year"])

In [ ]:
df = df.drop_duplicates(keep='first')
df = df.drop_duplicates(keep='last')
df = df.drop_duplicates(keep='False')

# takrorlangan qiymatklar bormi yo`qmi tekshirish

In [76]:
df.duplicated().sum()

np.int64(0)

# qator boyciha drop qilish

In [ ]:
df["survived"].dropna(inplace=True)

# ustun boyicha drop qilish

In [ ]:
df.drop("survived", axis=1)

# Missing Valuelarni Imputer bilan to`lidirish

# Imputer nima - bu missing values larni toldirish uchun vosita

# ML modellari mv larni qabul qilmaydi shuning uhcun datasetni muakammal toldirish talab qilinadi

# Simple Imputer Turlari

# Mean

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np 

num_cols = df.select_dtypes(include=["float64", "int64"]).columns
imputer = SimpleImputer(strategy='mean')
df[num_cols] = imputer.fit_transform(df[num_cols])

# Median

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np 

num_cols = df.select_dtypes(include=["float64", "int64"]).columns
imputer = SimpleImputer(strategy='median')
df[num_cols] = imputer.fit_transform(df[num_cols])

# Most Frequent

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np 

cat_cols = df.select_dtypes(include=["object"]).columns
imputer = SimpleImputer(strategy='most_frequent')
df[num_cols] = imputer.fit_transform(df[num_cols])

# Constant

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np 

num_cols = df.select_dtypes(include=["float64", "int64"]).columns
imputer = SimpleImputer(strategy='constant', fill_value='Unknown')
df[num_cols] = imputer.fit_transform(df[num_cols])