In [1]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Preprocessed_Data\Preprocessed_Data.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   PassengerId  891 non-null    int64
 2   Survived     891 non-null    int64
 3   Pclass       891 non-null    float64
 4   Name         891 non-null    float64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    float64
 7   Parch        891 non-null    float64
 8   Ticket       891 non-null    float64
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    float64
 11  col_female   891 non-null    float64
 12  col_male     891 non-null    float64
 13  col_C        891 non-null    float64
 14  col_Q        891 non-null    float64
 15  col_S        891 non-null    float64
dtypes: float64(13), int64(3)
memory usage: 111.5 KB

In [3]:
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,col_female,col_male,col_C,col_Q,col_S
0,0,1,0,0.827377,-1.310217,-0.592481,0.432793,-0.473674,0.918966,-0.502445,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
1,1,2,1,-1.566107,-0.991410,0.638789,0.432793,-0.473674,1.282625,0.786845,1.161545,1.355574,-1.355574,2.074505,-0.307562,-1.623803
2,2,3,1,0.827377,-0.357685,-0.284663,-0.474545,-0.473674,1.646283,-0.488854,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838
3,3,4,1,-1.566107,-0.672604,0.407926,0.432793,-0.473674,-1.442322,0.420730,0.057748,1.355574,-1.355574,-0.482043,-0.307562,0.615838
4,4,5,0,0.827377,-1.671790,0.407926,-0.474545,-0.473674,0.664904,-0.486337,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838

In [4]:
x = df.drop(columns=["Cabin"])
y = df["Cabin"]

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_temp, y_train, y_temp = train_test_split (x, y, test_size=0.3, random_state=42)

In [10]:
x_val, x_test, y_val, y_test = train_test_split(x_temp, y_temp, test_size=0.5, random_state=42)

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

model = LinearRegression()

model.fit(x_train, y_train)

y_val_pred = model.predict(x_val)
val_score = r2_score(y_val, y_val_pred)

print("Validation r2_Score :  ", val_score)

Validation r2_Score :   0.03927057629429498

In [17]:
val_score

0.03927057629429498

In [12]:
y_test_pred = model.predict(x_test)
test_accuracy = r2_score(y_test, y_test_pred)

print("Test r2_score: ", test_accuracy)

Test r2_score:  0.12528367710223343

In [13]:
y_train_pred = model.predict(x_train)

train_accuracy = r2_score(y_train, y_train_pred)

print("Train r2_score: ", train_accuracy)

Train r2_score:  0.0790441129685322