# Imbalance Datasetlarda Sampling

In [1]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Raw_Data\titanic.csv")

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df["Survived"].unique()

array([0, 1])

In [6]:
df["Survived"].nunique()

2

In [7]:
df["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

# target ustunida chiqayotgan natijadan har bitta class bo`yicha sonlar teng bo`lmasa bu Imbalance dataset deyiladi (Muvozanatsiz malumotlar to`plami)

# target ustunidagi qiymati kam bo`lgan classni - MINORITY deb nomlaymiz 
# qiymat jihatidan ko`p bo`lgan classni MAJORITY deb nomlaymiz

# Agarda Imbalance dataset bilan model trainin gqilinsa nimalar sodir b`oladi 
- kichik miqdordagi classlarni ignore qiladi 
- kichik miqdordagi classlar ustida past natija chiqadi 
- umumiy natija baland bo`lishi mumkin lekin biased perfortance bo`ladi  va bu overfittingga sabab bo`ladi

# YECHIMI

# 2 XIL YECHIMI MAVJUD

# 1- YECHIM BU MINORITY CLASSNI KO`PAYTIRISH == OVERSAMPLING

# 2-YECHIM MAJORITY CLASSNI KAMAYTIRISH == UNDERSAMPLING

# Sampling tenikalari (Overfsampling va Undersampling) - bu texnikalar classification tasklarda model generalization va fairness ni oshiradi

# Generalization - bu modelning umumiylik yoki umumlashtirish qobilyati 
# Fairness - bu modelning biror tarafga og`ishmay adolatli qaror qabul qilishi

# Oversampling

# Oversamplingda - kichik miqdordagi classlardagi qiymatlarni oshirish va katta miqdordagi classlar soniga yetkazish tushuniladi

# multi class bo`lsa u xolda eng ko`p class soniga qarab yetkaziladi, yani 1 dan 3 ta 0 dan 2ta 2 dan 8 ta bo`lsa 0 va 1 ni 8 taga yetkazamiz

# Oversampling Texnikalari 
- Random Oversampling
- SMOTE 
- ADASYN

# Random Oversampling

# bunda ishlash prinsipi shunaqaki qiymatlarni duplicate qilish orqali ko`paytirib qo`yadi tanlab olganda randomli xolatda tanlaydi

# SMOTE

# buni ishlash prinsipi shunaqaki - (sythetic minority oversampling technique) - suniy qiymatlarni yaratish orqali qiymatlar qo`shadi