In [1]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Raw_Data\titanic.csv")

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
def missing_val(df):
    for col in df.columns:
        if df[col].isnull().sum():
            if df[col].dtype == "object":
                df[col] = df[col].fillna(df[col].mode()[0])
            else:
                df[col] = df[col].fillna(df[col].mean())
    return df

In [6]:
df = missing_val(df)

In [7]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
df.to_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Preprocessed_Data\Preprocessed_Missing_value.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder


def encoder_cat(df, one_hot_threshold=6):
    encoder = LabelEncoder()


    for col in df.columns:
        if df[col].dtype=="object":
            if df[col].nunique() <= one_hot_threshold:
                dummies = pd.get_dummies(df[col], prefix="col", dtype=int)
                df = pd.concat([df.drop(columns=[col]), dummies], axis=1)

            else:
                df[col] = encoder.fit_transform(df[col])
    return df

In [10]:
df = encoder_cat(df)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    int64
 10  col_female   891 non-null    int64
 11  col_male     891 non-null    int64
 12  col_C        891 non-null    int64
 13  col_Q        891 non-null    int64
 14  col_S        891 non-null    int64
dtypes: float64(2), int64(13)
memory usage: 104.5 KB

In [12]:
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,col_female,col_male,col_C,col_Q,col_S
0,1,0,3,108,22.0,1,0,523,7.2500,47,0,1,0,0,1
1,2,1,1,190,38.0,1,0,596,71.2833,81,1,0,1,0,0
2,3,1,3,353,26.0,0,0,669,7.9250,47,1,0,0,0,1
3,4,1,1,272,35.0,1,0,49,53.1000,55,1,0,0,0,1
4,5,0,3,15,35.0,0,0,472,8.0500,47,0,1,0,0,1

In [ ]:
df.to_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Preprocessed_Data\Preprocessed_Encoding.csv")

# Standart Scaling

In [13]:
from sklearn.preprocessing import StandardScaler

num_col = [
    'Age', "SibSp", "Parch", "Fare", 'Pclass', "col_female", "col_male", 'col_C', 'col_Q', "col_S", "Cabin", "Ticket", "Name"
]

scaler = StandardScaler()

df[num_col] = scaler.fit_transform(df[num_col])

In [14]:
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,col_female,col_male,col_C,col_Q,col_S
0,1,0,0.827377,-1.310217,-0.592481,0.432793,-0.473674,0.918966,-0.502445,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
1,2,1,-1.566107,-0.991410,0.638789,0.432793,-0.473674,1.282625,0.786845,1.161545,1.355574,-1.355574,2.074505,-0.307562,-1.623803
2,3,1,0.827377,-0.357685,-0.284663,-0.474545,-0.473674,1.646283,-0.488854,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838
3,4,1,-1.566107,-0.672604,0.407926,0.432793,-0.473674,-1.442322,0.420730,0.057748,1.355574,-1.355574,-0.482043,-0.307562,0.615838
4,5,0,0.827377,-1.671790,0.407926,-0.474545,-0.473674,0.664904,-0.486337,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838

In [16]:
df.to_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Preprocessed_Data\Preprocessed_Data.csv")

In [17]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_One\Data\Preprocessed_Data\Preprocessed_Data.csv")

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   PassengerId  891 non-null    int64
 2   Survived     891 non-null    int64
 3   Pclass       891 non-null    float64
 4   Name         891 non-null    float64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    float64
 7   Parch        891 non-null    float64
 8   Ticket       891 non-null    float64
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    float64
 11  col_female   891 non-null    float64
 12  col_male     891 non-null    float64
 13  col_C        891 non-null    float64
 14  col_Q        891 non-null    float64
 15  col_S        891 non-null    float64
dtypes: float64(13), int64(3)
memory usage: 111.5 KB

In [20]:
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,col_female,col_male,col_C,col_Q,col_S
0,0,1,0,0.827377,-1.310217,-0.592481,0.432793,-0.473674,0.918966,-0.502445,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
1,1,2,1,-1.566107,-0.991410,0.638789,0.432793,-0.473674,1.282625,0.786845,1.161545,1.355574,-1.355574,2.074505,-0.307562,-1.623803
2,2,3,1,0.827377,-0.357685,-0.284663,-0.474545,-0.473674,1.646283,-0.488854,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838
3,3,4,1,-1.566107,-0.672604,0.407926,0.432793,-0.473674,-1.442322,0.420730,0.057748,1.355574,-1.355574,-0.482043,-0.307562,0.615838
4,4,5,0,0.827377,-1.671790,0.407926,-0.474545,-0.473674,0.664904,-0.486337,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838

# Datani Split qilish

# Dataset 3 ta qismga bo`linadi
- 1-qism : Train - yani modelni o`qitish uchun   == 80%  yoki 70 % 
- 2-qism : Test - yani modelni test qilib korish uchun  == 10 %  == yoki == 15 % 
- 3-qism : Validation - yani modelni baholab olish uchun == 10% == yoki == 15 %

In [23]:
df

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,col_female,col_male,col_C,col_Q,col_S
0,0,1,0,0.827377,-1.310217,-0.592481,0.432793,-0.473674,0.918966,-0.502445,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
1,1,2,1,-1.566107,-0.991410,0.638789,0.432793,-0.473674,1.282625,0.786845,1.161545,1.355574,-1.355574,2.074505,-0.307562,-1.623803
2,2,3,1,0.827377,-0.357685,-0.284663,-0.474545,-0.473674,1.646283,-0.488854,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838
3,3,4,1,-1.566107,-0.672604,0.407926,0.432793,-0.473674,-1.442322,0.420730,0.057748,1.355574,-1.355574,-0.482043,-0.307562,0.615838
4,4,5,0,0.827377,-1.671790,0.407926,-0.474545,-0.473674,0.664904,-0.486337,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,887,0,-0.369365,0.400452,-0.207709,-0.474545,-0.473674,-1.183277,-0.386671,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
887,887,888,1,-1.566107,-0.552079,-0.823344,-0.474545,-0.473674,-1.616678,-0.044381,-1.003594,1.355574,-1.355574,-0.482043,-0.307562,0.615838
888,888,889,0,0.827377,-0.124412,0.000000,0.432793,2.008933,1.676173,-0.176263,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838
889,889,890,1,-1.566107,-1.415189,-0.284663,-0.474545,-0.473674,-1.646568,-0.044381,0.270017,-0.737695,0.737695,2.074505,-0.307562,-1.623803
890,890,891,0,0.827377,-0.874774,0.177063,-0.474545,-0.473674,0.635014,-0.492378,-0.281881,-0.737695,0.737695,-0.482043,3.251373,-1.623803

# Feature Va Targetga ajratish

In [24]:
x = df.drop(columns=["Survived"])
y = df["Survived"]

In [25]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [26]:
x

,Unnamed: 0,PassengerId,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,col_female,col_male,col_C,col_Q,col_S
0,0,1,0.827377,-1.310217,-0.592481,0.432793,-0.473674,0.918966,-0.502445,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
1,1,2,-1.566107,-0.991410,0.638789,0.432793,-0.473674,1.282625,0.786845,1.161545,1.355574,-1.355574,2.074505,-0.307562,-1.623803
2,2,3,0.827377,-0.357685,-0.284663,-0.474545,-0.473674,1.646283,-0.488854,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838
3,3,4,-1.566107,-0.672604,0.407926,0.432793,-0.473674,-1.442322,0.420730,0.057748,1.355574,-1.355574,-0.482043,-0.307562,0.615838
4,4,5,0.827377,-1.671790,0.407926,-0.474545,-0.473674,0.664904,-0.486337,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,887,-0.369365,0.400452,-0.207709,-0.474545,-0.473674,-1.183277,-0.386671,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
887,887,888,-1.566107,-0.552079,-0.823344,-0.474545,-0.473674,-1.616678,-0.044381,-1.003594,1.355574,-1.355574,-0.482043,-0.307562,0.615838
888,888,889,0.827377,-0.124412,0.000000,0.432793,2.008933,1.676173,-0.176263,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838
889,889,890,-1.566107,-1.415189,-0.284663,-0.474545,-0.473674,-1.646568,-0.044381,0.270017,-0.737695,0.737695,2.074505,-0.307562,-1.623803
890,890,891,0.827377,-0.874774,0.177063,-0.474545,-0.473674,0.635014,-0.492378,-0.281881,-0.737695,0.737695,-0.482043,3.251373,-1.623803

# Train va Temporary split == 70% ga 30 %

In [27]:
from sklearn.model_selection import train_test_split


x_train, x_temp, y_train, y_temp = train_test_split (x, y, test_size=0.3, random_state=42, stratify=y)

In [28]:
# stratify ning vazifasi == survived = 0 va survived = 1 shul;arni nisbatini hamma setlarda bir xil qiladi

In [29]:
x_val, x_test, y_val, y_test = train_test_split(x_temp, y_temp, test_size=0.5, random_state=42, stratify=y_temp)

In [30]:
x_val

,Unnamed: 0,PassengerId,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,col_female,col_male,col_C,col_Q,col_S
377,377,378,-1.566107,1.621247,-0.207709,-0.474545,2.008933,-1.551917,3.610065,1.076638,-0.737695,0.737695,2.074505,-0.307562,-1.623803
244,244,245,0.827377,-1.547377,0.023154,-0.474545,-0.473674,-0.625336,-0.502949,-0.281881,-0.737695,0.737695,2.074505,-0.307562,-1.623803
72,72,73,-0.369365,-0.268264,-0.669435,-0.474545,-0.473674,1.407165,0.831478,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
815,815,816,-1.566107,-0.684267,0.000000,-0.474545,-0.473674,-1.611697,-0.648422,-1.597946,-0.737695,0.737695,-0.482043,-0.307562,0.615838
841,841,842,-0.369365,0.462658,-1.054207,-0.474545,-0.473674,1.397202,-0.437007,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,444,445,0.827377,-0.167179,0.000000,-0.474545,-0.473674,0.799407,-0.485079,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
764,764,765,0.827377,-0.824231,-1.054207,-0.474545,-0.473674,-0.057431,-0.491874,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
743,743,744,0.827377,0.314919,-0.438572,0.432793,-0.473674,0.689812,-0.324253,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
263,263,264,-1.566107,-0.408228,0.792698,-0.474545,-0.473674,-1.606715,-0.648422,-0.324335,-0.737695,0.737695,-0.482043,-0.307562,0.615838
730,730,731,-1.566107,-1.675678,-0.053800,-0.474545,-0.473674,-0.984013,3.606793,-0.918687,1.355574,-1.355574,-0.482043,-0.307562,0.615838

In [31]:
y_val

377    0
244    0
72     0
815    0
841    0
      ..
444    1
764    0
743    0
263    0
730    1
Name: Survived, Length: 134, dtype: int64

In [32]:
x_temp

,Unnamed: 0,PassengerId,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,col_female,col_male,col_C,col_Q,col_S
625,625,626,-1.566107,1.356871,2.408739,-0.474545,-0.473674,0.580216,0.002348,2.392703,-0.737695,0.737695,-0.482043,-0.307562,0.615838
566,566,567,0.827377,1.325768,-0.823344,-0.474545,-0.473674,0.067109,-0.489442,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
459,459,460,0.827377,0.614286,0.000000,-0.474545,-0.473674,0.644977,-0.492378,-0.281881,-0.737695,0.737695,-0.482043,3.251373,-1.623803
804,804,805,0.827377,-0.365461,-0.207709,-0.474545,-0.473674,-0.002633,-0.507982,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
338,338,339,0.827377,-0.983634,1.177469,-0.474545,-0.473674,0.854205,-0.486337,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,184,185,0.827377,-0.015552,-1.977659,-0.474545,2.008933,-0.336402,-0.204955,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838
607,607,608,-1.566107,-0.956419,-0.207709,-0.474545,-0.473674,-1.437340,-0.034314,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
624,624,625,0.827377,-1.329656,-0.669435,-0.474545,-0.473674,0.779481,-0.324253,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
103,103,104,0.827377,-0.155515,0.254017,-0.474545,-0.473674,0.829297,-0.474172,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
387,387,388,-0.369365,-1.271338,0.484880,-0.474545,-0.473674,-0.590465,-0.386671,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838

In [33]:
x_test

,Unnamed: 0,PassengerId,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,col_female,col_male,col_C,col_Q,col_S
455,455,456,0.827377,-0.206058,-0.053800,-0.474545,-0.473674,0.201613,-0.489442,-0.281881,-0.737695,0.737695,2.074505,-0.307562,-1.623803
607,607,608,-1.566107,-0.956419,-0.207709,-0.474545,-0.473674,-1.437340,-0.034314,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
142,142,143,0.827377,-0.489873,-0.438572,0.432793,-0.473674,1.641301,-0.329287,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838
883,883,884,-0.369365,-1.492947,-0.130754,-0.474545,-0.473674,1.128194,-0.437007,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
835,835,836,-1.566107,-1.049728,0.715743,0.432793,0.767630,1.347386,1.025945,3.241777,1.355574,-1.355574,2.074505,-0.307562,-1.623803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,322,323,-0.369365,1.232459,0.023154,-0.474545,-0.473674,-1.068700,-0.399758,-0.281881,1.355574,-1.355574,-0.482043,3.251373,-1.623803
642,642,643,0.827377,1.216907,-2.131568,2.247470,2.008933,-0.007615,-0.086664,-0.281881,1.355574,-1.355574,-0.482043,-0.307562,0.615838
566,566,567,0.827377,1.325768,-0.823344,-0.474545,-0.473674,0.067109,-0.489442,-0.281881,-0.737695,0.737695,-0.482043,-0.307562,0.615838
690,690,691,-1.566107,-0.901989,0.100109,0.432793,-0.473674,-1.243057,0.499256,-1.470585,-0.737695,0.737695,-0.482043,-0.307562,0.615838
823,823,824,0.827377,0.408228,-0.207709,-0.474545,0.767630,0.734646,-0.397241,2.732333,1.355574,-1.355574,-0.482043,-0.307562,0.615838

# Quyidagi holatlarga etibor bergan holda tanlovni amalga oshirish 

- Kichik Dataset -- Train/ Val/ Test 
- Juda Kichik Datset -- Cross Validation 
- Kattaroq Dataset -- 70 / 15 -15  tavsiya qilinadi 
- Deep Learning - Validation qism majburiy

# Modelni o`qitish jarayoni

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression(max_iter=1000, random_state=42)

model.fit(x_train, y_train)

y_val_pred = model.predict(x_val)
val_score = accuracy_score(y_val, y_val_pred)


print("Validation Accuracy Score :  ", val_score)

Validation Accuracy Score :   0.8283582089552238

In [36]:
y_test_pred = model.predict(x_test)
test_accuracy = accuracy_score(y_test, y_test_pred)

print("Test Accuracy Score: ", test_accuracy)

Test Accuracy Score:  0.746268656716418

In [37]:
y_train_pred = model.predict(x_train)

train_accuracy = accuracy_score(y_train, y_train_pred)

print("Train Accuracy: ", train_accuracy)

Train Accuracy:  0.8186195826645265

In [38]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, y_test_pred))

[[67 16]
 [18 33]]